body{
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

.blue {
  fill: rgba(29, 161, 242, 1);
}
.hover {
  &:hover {
    fill: rgba(29, 161, 242, 1);
  }
}
.tweet {
  background-color: rgba(29, 161, 242, 1);
  fill: #fff;
  width: 47px;
  height: 47px;
  border-radius: 23px;
  svg {
    width: 23px;
    height: 23px;
  }
}
.bg-l {
  background-color: #e1e8ed;
}
.bg-l0 {
  background-color: #aab8c2 !important;
}
.bg-d {
  &:hover {
    background-color: #e1e8ed !important;
    cursor: pointer !important;
    text-decoration: none !important;
  }
}
.d {
  color: #657786;
  text-decoration: none !important;
}
.bg-b {
  &:hover {
    background-color: #e1e8ed;
    cursor: pointer;
    text-decoration: none !important;
  }
}
.f-10 {
  font-size: 13px;
}
.f-20 {
  font-size: 20px;
}
.blue-color {
  color: rgba(29, 161, 242, 1);
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
    color: rgba(29, 161, 242, 1);
  }
}
.blue-hover {
  &:hover {
    text-decoration: none !important;
    color: rgba(29, 161, 242, 1);
  }
}
.f-20 {
  font-size: 20px;
}
.f-17 {
  font-size: 17px;
}
.f-15 {
  font-size: 15px;
}
.f-14 {
  font-size: 14px;
}
.img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}
.tweet-icon {
  width: 18px;
  height: 18px;
}
.b {
  color: #000;
  text-decoration: none !important;
}
.icon {
  width: 15px;
  height: 15px;
}

.card-border {
  border-radius: 5px;
  background-color: #f5f8fa !important;
}
.border10 {
  border-radius: 10px;
  border: none !important;
}
.border3 {
  border-radius: 3px;
}
.border5 {
  border-radius: 5px;
}
.list-button {
  border-radius: 20px;
  background-color: rgba(29, 161, 242, 1);
  font-size: 0.8em;
  padding: 5px;
  color: #fff;
  border: none;
  &:focus {
    outline: none;
  }
}
.takip-button{
  width: 100px;
  height: 40px;
  border-radius: 20px;
  background-color:rgba(29, 161, 242, 1) ;
  font-size: 15px;
  color: #fff;
  border: none;
  font-weight: bold;
  line-height: 40px;
  &:focus {
    outline: none;
  }
}
.text-area {
  resize: none !important;
  border: none !important;
  &::placeholder {
    color: #aab8c2;
    font-weight: 400;
    font-size: 20px;
    text-align: left;
    line-height: 24px;
  }
  &:focus {
    outline: none;
    box-shadow: none !important;
  }
}
.menu-hover {
  &:hover {
    color: #657786;
  }
}
.panel {
  height: 50px;
  line-height: 50px;
  &:hover {
    background-color: #f5f8fa;
  }
  &:active {
    border-bottom: 2px solid rgba(29, 161, 242, 1);
  }
}
.m-icon {
  width: 22px;
  height: 22px;
}
.s-icon {
  fill: #657786;
}
.grey {
  fill: #657786;
}
.message {
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  background-color: #e1e8ed;
  font-weight: normal;
  font-size: 15px;
}
.message2 {
  width: 150px;
  height: 30px;
  text-align: center;
  line-height: 32px;
  border-radius: 12px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  background-color: #e1e8ed;
  font-weight: normal;
  font-size: 15px;
}
.menu-icon{
    width: 50px;
    height: 26px;
}
.index{
    z-index: 1;
}
input[type="text"] {

    background-color : #d9dee2; 
    &:focus{
        outline: none;
        box-shadow: none;
    }
  
  }
  .opened{
      &:focus{
          fill: rgba(29, 161, 242, 1);
      }
      
  }
  .sidebar-item{
      position: absolute;
  }
  .make-me-sticky{
    position: -webkit-sticky;
	position: fixed;
    top: 0;
    height: 100%;
  }
  .dropd-menu{
    width: auto;
    height: auto;
    background-color: #fff !important;
    border: none !important;
    font-style: 17px;
    color: #657786;
    z-index: 2 !important;
  }
  .twetle{
    border-radius: 15px;
    border: none;
    background-color: #fff;
    position: relative;
    height: 300px;
    width: 600px;
  }
  .center{
    justify-content: center;
    vertical-align: middle;
  }
  .dis{
    height: 100vh !important;
    width: 100% !important;
    overflow-y: hidden;
  }
  .ic{
    height: 100vh;
    width: 100% !important;
    overflow-y: scroll;
  }
.icerik{
  position: absolute;
  width: 100% !important;
  height: 100% !important;
}
.area-text{
  border:none !important;
  outline: none !important;
  resize: none!important;
  border-radius: 20px !important;
  background-color : #d9dee2 !important; 
  &:focus{
    box-shadow: none !important;
  }
}
#aa{
  display: none;
}
.active{
  display: block !important;
  
  display: flex !important;
    flex-direction: column;
    margin-top: 100px;
    align-items: center;
    position: absolute;
}
.dis-ic{
  position: absolute;
  min-width: 100% !important;
  min-height: 87% !important; 
}
.write{
  min-width: max-content !important;
  left: auto !important;
  right: auto !important;
  bottom: 0px !important;
}
@media  (max-width:991px) {
  #none{
    display: none;
  }
  #tweet{
    width: 700px;
  }
}
.make-sticky{
  position: sticky;
}
.twetle{
  background-color: #fff;
}
#tweet{
  width: 1200px !important;
  width: 100%;
  height: 100vh !important;
  z-index: 5;
}
.tweetle{
  border-radius: 15px;
  background-color: #fff;
  border: none;
}