
            .blue{
                fill:rgba(29,161,242,1.00) 
            }
            .hover{
                &:hover{
                    fill:rgba(29,161,242,1.00)
                }
            }
            .tweet{
                background-color: rgba(29,161,242,1.00);
                fill: #fff;
                width: 47px;
                height: 47px;
                border-radius: 23px;
                svg{
                    width: 23px;
                    height: 23px;
                }
            }
            .bg-l{
               background-color:  #E1E8ED;
            }
            .bg-l0{
                background-color: #AAB8C2;;
            }
            .bg-d{
                &:hover{
                    background-color:#E1E8ED !important;
                    cursor:pointer !important;
                    text-decoration: none !important;
                }
            }
            .d{
                color: #657786;
                text-decoration: none !important; 
            }
            .bg-b{
                &:hover{
                    background-color:#E1E8ED ;
                    cursor:pointer;
                    text-decoration: none !important;
                }
            }
            .f-10{
                font-size: 13px;
            }
            .f-20{
                font-size: 20px;
            }
            .blue-color{
                color: rgba(29,161,242,1.00) ;
                text-decoration: none !important; 
                &:hover{
                    text-decoration: none !important;
                    color: rgba(29,161,242,1.00) ;
                }
            }
            .f-17{
                font-size: 17px;
            }
            .f-15{
                font-size: 15px;
            }
            .f-14{
                font-size: 14px;
            }
            .img{
                width: 50px;
                height: 50px;
                border-radius: 25px;
            }
            .tweet-icon{
                width: 30px;
                height: 30px;
                
            }
            .b{
                color: #000;
                text-decoration: none !important;
            }
            .icon{
                width: 15px;
                height: 15px;
            }
            .card-border{
                border-radius: 5px;
                background-color:#F5F8FA !important;
                
            }
            .border3{
                border-radius: 3px;
            }
            .list-button{
                height: 40px ;
                width: 120px ;
                height: 40px ;
                border-radius: 21px ;
                background-color: rgba(29,161,242,1.00);
                font-size: 15px;
                color:#fff ;
                border: none ;
                font-weight: bold;
                &:focus{
                    outline: none;
                }
            }
            .menu-hover{
                &:hover{
                 
                color: #657786;
                }
               
            }
            .panel{
                height: 50px;
                line-height: 50px;
                &:hover{
                    background-color: #F5F8FA ;
                }
                &:active{
                    border-bottom: 2px solid rgba(29,161,242,1.00);
                }
            }
            .m-icon{
                width: 22px ;
                height: 22px;
            }